# Ignore everything by default
*

# Allow directories so un-ignored files inside are visible
!*/

# Keep the .gitignore itself
!.gitignore

# Allow only these file types to be tracked
!*.py
!*.dxf
!*.xlsm
!*.xls
!*.spec
!*.exe
!*.zip
!*.srt
!*.mp4
!*.mp3
!*.txt
!*.json
!*.ini
!*.xlsx
!*.xls
!*.csv
!*.log


